# dependencies
/node_modules

# production
/build
/dist

# misc
.DS_Store
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache
.next
.parcel-cache
coverage

# IDEs
.vscode
.idea

# OS
Thumbs.db