.card {
  background-color: #0c071b;
  box-shadow: rgba(106, 145, 255, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
}

/* Icon + text */
.menuItemWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.25rem;
  border-radius: 9999px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  border: 2px solid #4d7fd0;
}

.menuItemWrapper:hover {
  background-color: #1b2138;
}

.activeMenuItem {
  background-image: linear-gradient(150deg, #4d7fd0, #4ca3ff);
  color: white;
}

.logoutButton {
  color: white !important;
  background-image: linear-gradient(150deg, #8b2c50, #b8003f);
}

.iconWrapper {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
